<h1>Listing inpatients</h1>

<div id="divSearch">
  <form id="fSearch">
    <div class="field">
        <input id="s_first_name" type="text" />
        <label>first_name</label>      
    </div>
    <div class="field">
        <input id="s_last_name" type="text" />
        <label>last_name</label>    
    </div>
    <div class="field">
      <input id="s_c_number" type="text" />
      <label>c_number</label>
    </div>
    <div class="field">       
      <input id="s_ward" type="text" />
      <label>ward</label>
    </div>
    <div class="field">       
      <input id="s_diagnosis" type="text" />
      <label>diagnosis</label>
    </div>
    <input id="bSearch" type="button" value="Search">
  </form>
</div>

<div id="divGrid"></div>



<div id="divFields">
  <form id="fFields">
    <div class="field">
      <input id="id" type="hidden" />
    </div>
    <div class="field">
        <input id="first_name" type="text" />
        <label>first_name</label>      
    </div>
    <div class="field">
        <input id="last_name" type="text" />
        <label>last_name</label> (Client Validation Added)    
    </div>
    <div class="field">
      <input id="c_number" type="text" />
      <label>c_number</label>
    </div>
    <div class="field">       
      <input id="ward" type="text" />
      <label>ward</label>
    </div>
    <div class="field">       
      <input id="diagnosis" type="text" />
      <label>diagnosis</label>
    </div>
    <div id="divButtonEdit" class="actions">
        <input id="bEdit" type="button" value="Edit Inpatient">
        <input id="bNew" type="button" value="New Inpatient">
        <input id="bDelete" type="button" value="Delete Inpatient">
        <input id="bBack" type="button" value="Back">
    </div>
</div>




<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>C number</th>
      <th>Ward</th>
      <th>Diagnosis</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inpatients.each do |inpatient| %>
      <tr>
        <td><%= inpatient.first_name %></td>
        <td><%= inpatient.last_name %></td>
        <td><%= inpatient.c_number %></td>
        <td><%= inpatient.ward %></td>
        <td><%= inpatient.diagnosis %></td>
        <td><%= link_to 'Show', inpatient %></td>
        <td><%= link_to 'Edit', edit_inpatient_path(inpatient) %></td>
        <td><%= link_to 'Destroy', inpatient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inpatient', new_inpatient_path %>
