<!DOCTYPE html>
<html>
<head>
  <title>JqGrid</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<body class="<%= params[:controller] %>">
<%= render 'layouts/superfish.html.erb' %>
<%= yield %>

<script>

	jQuery(document).ready(function() {
		jQuery('ul.sf-menu').superfish();
	});

</script>
</body>
</html> 